header{
    background-color: green;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: baseline;
    position: fixed; 
    
}
  body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    overflow-y: scroll;


  }
  
.text{
    display: flex;
    padding-left: 25%;
    gap: 10px;
    text-align: center;
    position: fixed;
    word-wrap: break-word;
    
}
.G3{
    color: white;
    font-size: 40px;
    padding-top: 18px;
    position: fixed;
    padding-left: 35%;
    

}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    height: 15vh;
}
ul>li{
    display: flex;
    justify-content: space-between;
    height: 10px;
}
.gut{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.menu{
  height: 100%;
  border-right: 1px solid  green;
  flex: 0.2;
  border-right: 2px;
  padding-left: 10px;
  padding-top: 20px;

  
}
.kk{
  display: grid;
}
.ggg{
  padding: 35px;
  padding-top: 10px;
  height: 100%;
  border-right: 1px solid green;
  position: fixed;
  
}
.con{
  flex: 0.5;
  grid-column: inherit;
}
.more{
  flex: 0.3;
  padding: 70px;
  padding-top: 10px;
  border-right: 1px solid gray;
  position: relative;

}
.more a{
  display: block;
  padding: 35px;
  padding-top: 1px;
  color: black;
  overflow-y: auto;
  
}
a:hover{
  background-color: darkgreen;
}
